.video-wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;

    embed,
    object,
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
