.site-header {
    @include rem(padding, 1.2rem 3rem);
    position: relative;

    .menu-toggle {
        color: $brand;
        display: block;
        @include rem(font-size, 2.7rem);
        line-height: 1em;
        @include rem(padding, 0.7rem 3rem);
        position: absolute;
        right: 0;
        top: 0;
    }

    @include bp('large tablet') {
        .menu-toggle {
            display: none;
        }
    }
}
