.mobile-menu {
    background-color: $white;
    @include box-shadow(0 0 8px rgba($black, 0.2));
    height: 100vh;
    position: fixed;
    @include rem(left, -32rem);
    top: 0;
    @include rem(width, 28rem);
    @include transition(left 0.8s);
    z-index: 99999;

    &.is-open {
        left: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        @include rem(padding, 2rem 0);

        li {
            margin: 0;
            padding: 0;

            a {
                color: $dark-grey;
                display: block;
                @include rem(font-size, 1.8rem);
                @include rem(padding, 0.6rem 2.6rem);
                text-decoration: none;
            }

            ul {
                @include rem(margin-left, 2rem);

                a {
                    color: $grey;
                }
            }
        }
    }
}
